/modules
/shelf
/sonarlint/
/Android-2.0.iml
/assetWizardSettings.xml
/deploymentTargetDropDown.xml
/gradle.xml
/jarRepositories.xml
/misc.xml
/navEditor.xml
/render.experimental.xml
/workspace.xml
/appInsightsSettings.xml
/migrations.xml
/uhc-android.iml
