/modules
/shelf/
/sonarlint/

/appInsightsSettings.xml
/assetWizardSettings.xml
/deploymentTargetDropDown.xml
/gradle.xml
/jarRepositories.xml
/migrations.xml
/misc.xml
/navEditor.xml
/other.xml
/render.experimental.xml
/uhc-android.iml
/workspace.xml
