/caches/
/modules/
/shelf/
/sonarlint/

/AndroidProjectSystem.xml
/appInsightsSettings.xml
/assetWizardSettings.xml
/deploymentTargetDropDown.xml
/deploymentTargetSelector.xml
/fileColors.xml
/gradle.xml
/jarRepositories.xml
/kotlinc.xml
/migrations.xml
/misc.xml
/navEditor.xml
/other.xml
/render.experimental.xml
/runConfigurations.xml
/uhc-android.iml
/workspace.xml
